::selection {
  background-color:#0e06e4;
  color: #fff;
}
::-moz-selection {
  background-color:#0e06e4;
  color: #fff;
}

a:hover {
  color:#0e06e4;
}

a,
.theme-color,
.mm-column li.mm-header > a,
.mm-column li:not(.mm-header) a:hover,
.btn-t-white:hover,
.btn-white {
  color:#0e06e4;
}


.theme-before:before,
.theme-after:after,
.btn-theme,
.btn-white:hover,
.theme-hover:hover,
.owl-nav > div,
.theme-bg {
  background-image: linear-gradient(45deg, #0e06e4 0%, #171c7b 100%);
}
.btn-theme:hover{
  background-image: linear-gradient(135deg, #171c7b 0%, #0e06e4 100%);
}

.price-table-01.active,
.border-color {
  border-color: #0e06e4 !important;
} 

.theme-color-g {
  background: linear-gradient(45deg, #0e06e4 0%, #171c7b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}